<?xml version="1.0" encoding="utf-8"?>
<!--
     Copyright (C) 2015-2016 The CyanogenMod Project
                   2017-2023 The LineageOS Project
     Copyright (C) 2023 Paranoid Android

     SPDX-License-Identifier: Apache-2.0
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.lineageos.settings"
    android:versionCode="4"
    android:versionName="4.0"
    android:sharedUserId="android.uid.system">

    <uses-permission android:name="android.permission.ACCESS_SURFACE_FLINGER" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.DEVICE_POWER" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CAMERA_OPEN_CLOSE_LISTENER" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DEVICE_POWER" />

    <protected-broadcast android:name="com.android.systemui.doze.pulse" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:persistent="true"
        android:theme="@style/Theme.SubSettingsBase"
        android:defaultToDeviceProtectedStorage="true"
        android:directBootAware="true">

        <receiver
            android:name=".BootCompletedReceiver"
            android:exported="true">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".thermal.ThermalService"
            android:exported="true"
            android:permission="ThermalService">
        </service>

        <activity
            android:name=".thermal.ThermalSettingsActivity"
            android:label="@string/thermal_title"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.battery" />
            <meta-data
                android:name="com.android.settings.summary"
                android:resource="@string/thermal_summary" />
            <meta-data
                android:name="com.android.settings.order"
                android:value="1" />
        </activity>

        <activity
            android:name=".dirac.DiracActivity"
            android:label="@string/dirac_title"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
            </intent-filter>
            <meta-data 
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.sound" />
            <meta-data
                android:name="com.android.settings.summary"
                android:resource="@string/dirac_summary" />
        </activity>

        <service
            android:name=".dirac.DiracTileService"
            android:icon="@drawable/ic_qs_dirac"
            android:label="@string/dirac_title"
            android:exported="true"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
        </service>

        <service
            android:name=".doze.DozeService"
            android:exported="true"
            android:permission="DozeService">
        </service>

        <activity
            android:name=".doze.DozeSettingsActivity"
            android:label="@string/ambient_display_title"
            android:exported="true">
            <intent-filter>
                <action android:name="org.lineageos.settings.device.DOZE_SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <service
            android:name=".display.DcDimmingTileService"
            android:exported="true"
            android:icon="@drawable/ic_dc_tile"
            android:label="@string/dc_dimming_enable_title"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action
                    android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
        </service>
        
        <activity
            android:name=".display.DcDimmingSettingsActivity"
            android:label="@string/dc_dimming_enable_title"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
            </intent-filter>

            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.display" />
            <meta-data
                android:name="com.android.settings.summary"
                android:resource="@string/dc_dimming_enable_summary" />
        </activity> 

        <activity
            android:name=".speaker.ClearSpeakerActivity" 
            android:label="@string/clear_speaker_title"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.sound" />
            <meta-data
                android:name="com.android.settings.summary"
                android:resource="@string/clear_speaker_summary" />
        </activity>

        <service
            android:name=".camera.NfcCameraService"
            android:exported="true"
            android:permission="NfcCameraService">
        </service>

        <activity
            android:name=".refreshrate.RefreshActivity"
            android:label="@string/refresh_title"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.display" />
            <meta-data
                android:name="com.android.settings.summary"
                android:resource="@string/refresh_summary" />
        </activity>

        <service
            android:name=".refreshrate.RefreshTileService"
            android:icon="@drawable/ic_qs_refresh_rate"
            android:label="@string/refresh_title"
            android:exported="true"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
        </service>

        <service
            android:name=".refreshrate.RefreshService"
            android:exported="true"
            android:permission="RefreshService">
        </service>
        
        <activity
            android:name=".hbm.HBMActivity"
            android:label="@string/hbm_fragment_title"
            android:exported="false">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.display" />
            <meta-data
                android:name="com.android.settings.summary"
                android:resource="@string/hbm_fragment_summary" />
        </activity>

        <activity 
            android:name=".hbm.HBMFragment" />

        <service
            android:name=".hbm.AutoHBMService"
            android:exported="false" />

        <service
            android:name=".hbm.HBMModeTileService"
            android:icon="@drawable/ic_hbm_tile"
            android:label="@string/hbm_mode_title"
            android:exported="true"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

    </application>
</manifest>
